<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GenerateQR</servlet-name>
        <servlet-class>controller.GenerateQR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverServlet</servlet-name>
        <servlet-class>controller.RecoverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>controller.VerifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImei</servlet-name>
        <servlet-class>controller.UpdateImei</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateQR</servlet-name>
        <url-pattern>/GenerateQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverServlet</servlet-name>
        <url-pattern>/RecoverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImei</servlet-name>
        <url-pattern>/UpdateImei</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
